/* HEADER */
header {
    background-color: #ede7dc;
}
nav {
    /* background-color: #665032; */
    padding: 5px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #665032;
}

ul.nav li {float: left;}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul.nav li a.active {background-color: #4CAF50;}

ul.nav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.nav li a {
        border-bottom: 2px solid #ede7dc;
    } 
    ul.nav li {
        float: none;
        padding: 0px;
    }
  
    .logo {
        margin-left: 15%;
    }
}

ul.nav li a:hover:not(.active) {background-color: #111;}


nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-left: 30px;
}
.jumbotron {
    padding: 30px;
}
.logo {
    width: 200px;
}
